<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <center>
      <h1 class="display-1">Contact Me!</h1>
      <hr />
      <a href="https://github.com/tmobaird" title="Github-Tmobaird"><%= image_tag("cartoon_github.png", class: "large-icon-image") %></a>
      <a href="https://twitter.com/tmobaird" title="Twitter-Tmobaird"><%= image_tag("cartoon_twitter.png", class: "large-icon-image") %></a>
      <a href="https://www.linkedin.com/in/tmobaird" title="Linkedin-Tmobaird"><%= image_tag("cartoon_linkedin.png", class: "large-icon-image") %></a>
      <a href="https://www.youtube.com/channel/UCQJvNoVOHD7xsr9qa_ER5mA" title="YouTube-Tmobaird"><%= image_tag("cartoon_youtube.png", class: "large-icon-image") %></a>
      <a href="mailto:tmobaird@gmail.com" title="Email-Tmobaird"><%= image_tag("cartoon_email.png", class: "large-icon-image") %></a>
    </center>
  </div>
  <div class="col-md-2"></div>
</div>
