<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row" id="title-input">
    <div class="form-group">
      <div class="row">
        <%= f.label :title, class: "col-xs-1 control-label" %>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="body-input">
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active" id="write-tab" href="#write-display" data-toggle="tab">Write</a></li>
      <li class="nav-item"><a class="nav-link" id="view-tab" href="#view-display" data-toggle="tab">Preview</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="write-display">
        <div class="form-group">
          <%= f.label :body, { hidden: true } %>
          <%= f.text_area :body, class: "form-control", rows: "15", id: "post-body-form" %>
        </div>
      </div>
      <div class="tab-pane fade post-body-full" id="view-display"></div>
    </div>
  </div>
  <div class="row">
    <strong><%= f.label :published, 'Publish', style:"padding-right: 10px;" %></strong>
    <%= f.check_box :published %>
  </div>
  <hr />

  <div class="actions pull-right">
    <%= f.submit class: "btn btn-md btn-info" %>
  </div>
<% end %>
