<div class="post">
  <%= render partial: "featured_image", locals: { image: post.featured_image } %>
  <h2 class="post-title">
    <%= link_to post.title, post_path(post.slug) %>
  </h2>
  <%= render partial: "status_badges", locals: { post: post } %>
  <%= render partial: "tags", locals: {tags: post.tags} %>
  <%= render partial: "date_and_author", locals: { post: post } %>
  <div class="post-body markdown-body">
    <%= post.body.html_safe %>
    <p>
      <%= post.inspect %>
    </p>
  </div>
  <div class="pull-right">
    <%= link_to 'Read More', post_path(post.slug), class: "btn btn-sm btn-outline-info" %>
  </div>
</div>
<hr style="width: 95%;"/>
