<div class="col-md-2"></div>
<div class="col-md-8">
  <h1><%= @post.title %></h1>
  <small>Posted on: <%= @post.updated_at.strftime("%B %e, %Y") %> by <%= @post.admin.full_name %></small>
  <hr />
  <div class="post-body-full"><%= markdown(@post.body) %></div>
  <hr />
  <%= link_to '< Back', posts_path, class: "btn btn-md btn-outline-primary" %>
  <% if admin_signed_in? %>
    <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-md btn-outline-info" %>
  <% end %>
</div>
<div class="col-md-2"></div>
