<div class="container">
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <div class="trix-content"><%= @post.body.html_safe %></div>
</p>

<p>
  <strong>Admin:</strong>
  <%= @post.admin.full_name %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>