<div class="col-md-2"></div>
<div class="col-md-8">
  <h1 class="post-title"><%= @post.title %></h1>
  <small><span class="light-text open-sans"><%= @post.updated_at.strftime("%B %e, %Y") %> by <%= @post.admin.full_name %></span></small>
  <hr />
  <div class="post-body-full"><%= @body.html_safe %></div>
  <hr />
  <%= link_to '< Back', posts_path, class: "btn btn-md btn-outline-primary" %>
  <% if admin_signed_in? %>
    <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-md btn-outline-info" %>
  <% end %>

  <%= render 'disqus' %>
</div>
<div class="col-md-2"></div>
