<footer class="footer">
  <div class="container">
    <center>
      <div class="row" style="padding-top: 10px;">
        <a class="btn btn-sm btn-success" href="<%= root_url%>#about-me">About Me</a>
        <a class="btn btn-sm btn-primary" href="<%= root_url%>#projects">Projects</a>
        <a class="btn btn-sm btn-info" href="<%= root_url%>#">Blog</a>
        <a class="btn btn-sm btn-warning" href="<%= root_url%>#">Contact</a>
      </div>
      <hr class="footer-separator" />
      <div class="row">
        <div class="row">
          <a href="#"><%= image_tag("github.png", class:"social-image") %></a>
          <a href="#"><%= image_tag("twitter.png", class:"social-image") %></a>
          <a href="#"><%= image_tag("linkedin.png", class:"social-image") %></a>
          <a href="#"><%= image_tag("youtube.png", class:"social-image") %></a>
        </div>
        <div class="row">
          <small>tmobaird.io &#x2027; Back to Top &#x2027; Created with Ruby on Rails </small><%= image_tag("rails.png", style: "height: 30px; width: 30px;") %>
        </div>
      </div>
    </center>
  </div>
</footer>