<div class="pos-f-t row">
  <div class="navbar navbar-light bg-white navbar-static-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-1">
        <button class="navbar-toggler title" type="button" data-toggle="collapse" data-target="#navbar-header">
          ☰
        </button>
        </div>
        <div class="col-xs-9">
          <h2 class="title">Tmobaird.io</h2>
        </div>
        <div class="col-xs-2">
          <% unless current_admin.blank? %>
            <%= link_to("Sign Out", destroy_admin_session_path, class: "btn btn-primary", method: :delete) %>
          <% end %>
        </div>
      </div>
    </div>     
  </div>
  <div class="collapse" id="navbar-header">
    <div class="bg-dark-blue p-l-1">
      <div class="container-fluid">
        <% if request.path != "/" %>
        <a class="menu-item" href="<%= root_url%>"><div class="row menu-row bottom-border-white">Home</div></a>
        <% end %>
        <a class="menu-item" href="<%= root_url%>#about-me"><div class="row menu-row bottom-border-white">About Me</div></a>
        <a class="menu-item" href="<%= root_url%>#projects"><div class="row menu-row bottom-border-white">Projects</div></a>
        <a class="menu-item" href="#blog"><div class="row menu-row bottom-border-white">My Blog</div></a>
        <a class="menu-item" href="<%= root_url%>#contact-me"><div class="row menu-row">Contact</div></a>
      </div>
    </div>
  </div>
</div>