<!DOCTYPE html>
<html>
  <head>
    <title>Tmobaird</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a name="top"></a>
    <%= render "layouts/navbar" %>
    <%= render "layouts/flash_alerts" %>
    <div class="container-fluid main-container">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
