<!DOCTYPE html>
<html>
  <head>
    <title>Tmobaird</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <a name="top"></a>
    <%= render "layouts/navbar" %>
    <%= render "layouts/flash_alerts" %>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
